# Plese copy this file and change the name file from .env.example to .env and add your own credentials
# This is a friendly reminder to differentiate between USER API CREDENTIALS and APPLICATION API CREDENTIALS.

POSTGRES_HOST = 'host'
POSTGRES_PORT = '5432'
POSTGRES_DATABASE = 'db'
POSTGRES_USERNAME = 'user'
POSTGRES_PASSWORD = 'pass'